@import 'fonts/font.css';

.app {
  text-align: center;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100%;
  height: 100vh;
  padding-top: 50px 0px 50px 0px;
}

.container {
  width: 950px;
  border-width: 10px;
  border: 20px solid;
  border-radius: 10px;
  border-color: #8FDB9D;
  padding: 30px 5px 30px 5px;
  font-family: "BMDOHYEON_otf";
}

.resualt-container {
  width: 950px;
  border-width: 10px;
  border: 20px solid;
  border-radius: 10px;
  border-color: #FFFE96;
  padding: 30px 5px 30px 5px;
  font-family: "BMDOHYEON_otf";
}

.title-nav {
  display: block;
  width: 100%;
  height: 150px;
  color: darkslategrey;
  padding-top:4px;
  
  font-size: large;
  text-align: center;
}

span {
  color: darkslategrey;
  text-align: center;
  font-size: 0.9rem;
}

p {
  font-size: 1.18rem;
  text-align: center;
  color: #343b61;
}

.info-form{
  display:flex; 
  padding:45px;
  justify-content: space-between;
  align-content: center;
}

.info-form-L{
  vertical-align: super;
  align-content: center;
  font-size: 1rem;
}

.genderInput {
  transform: translate(-8px);
}

.heightInput {
  transform: translate(-8px);
}

.weightInput {
  transform: translate(-11px);
}

input[type=text] {
  width: 80px;
  height: 40px;
  font-size: 18px;
  border: 0;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
  vertical-align: middle;
  
  background-color: whitesmoke;
}

.cal-result {
  margin-top: auto;
  padding: 20px;
  
  text-align: center;
}

.bmr-result {
  background-color: #ffea00;
  width: 80.7%;
  height: 450px;
  padding: 1.5rem 5.5rem;
  padding-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 1.3rem;
  line-height: 30px;
}

.bmi-result {
  background-color: #ffea00;
  width: 80.7%;
  height: 300px;
  padding: 1.5rem 5.5rem;
  padding-top: 4rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 1.3rem;
  line-height: 30px;
}

.resultBtn {
  color: white;
  background: #B2B2B2;
  width: 70%;
  height: 90px;
  padding: 0.375rem 0.75rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  border: 1px solid;
  border-radius: 0.55rem;
  font-size: 2.5rem;
  line-height: 1.5;
  font-family: "BMDOHYEON_otf";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

