.App {
  text-align: center;
}

.title-nav {
  display: block;
  width: 100;
  color: black;
  padding-top: 10px;
  text-align: center;
}

.modal {
  display: flex;
  padding-top: 30px;
}

.bordering {
  border-top-style: ridge;
  border-bottom-style: ridge;
  border-left-style: ridge;
  border-right-style: ridge;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

